<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)"
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        [value]="startDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="기준일"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [value]="jumComboVal"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                    <ExtCombobox
                        [label]="'매출하한선'"
                        [store]="storeComboSaleForm"
                        [placeholder]="'금액을 선택하세요.'"
                        [valueField]="'valueComboSaleForm'"
                        [displayField]="'nameComboSaleForm'"
                        [value]="saleFormComboVal"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboSaleFormEvent($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'부'"
                        [store]="comboStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv2Event($event)"
                    >
                    </ExtCombobox>
                    <ExtCombobox
                        [label]="'매출기준'"
                        [store]="storeComboBaseForm"
                        [placeholder]="'순매출'"
                        [valueField]="'valueComboBaseForm'"
                        [displayField]="'nameComboBaseForm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboBaseFormEvent($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'팀'"
                        [store]="comboStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [editable]="false"
                        [clearable]="true"
                        (change)="comboStoreLv3Event($event)"
                    >
                    </ExtCombobox>
                    <ExtTextfield
                        label = ""
                        value = "[ 단위: 천원 ]"
                        [textAlign]="'right'"
                        disabled="true"
                    >
                    </ExtTextfield>                    
                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [rowNumbers]="{
                        width: '60px'
                    }"
                    [scrollable]="true"
                    [store]="gridStore"
                    (select)="onSelectGrid($event)"
                >
                    <!-- number("0,000") 천단위 콤마 -->
                    <ExtGridcolumn 
                        text="PC"
                        dataIndex="pcNo"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="PC명"
                        dataIndex="pcNm"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="코너번호"
                        dataIndex="corNo"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="코너명"
                        dataIndex="corNm"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="입점일"
                        dataIndex="inDate"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="기네스년월"
                        dataIndex="bestYYMM"
                        [align]="'center'"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="기네스매출"
                        dataIndex="bestSale"
                        [align]="'right'"
                        [renderer]="this.renderSignNormal"
                        width='120px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="기준월매출"
                        dataIndex="standardSale"
                        [align]="'right'"
                        [renderer]="this.renderSignNormal"
                        width='120px'
                    >
                    </ExtGridcolumn>             
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>