<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)"
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
       
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-pdf"
            (tap)="onTapReport($event)"
            tooltip="Report DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [value]="jumComboVal"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                    <ExtCombobox
                        [label]="'코너'"
                        [store]="comboConer"
                        [placeholder]="'선택하세요'"
                        [valueField]="'coner'"
                        [displayField]="'conerNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboConerEvent($event)"
                        >
                    </ExtCombobox>
               
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >   
                    <ExtCombobox
                        [label]="'부'"
                        [store]="comboStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv2Event($event)"
                    >
                    </ExtCombobox>
                    <ExtTextfield
                        [placeholder]="'협력업체검색...'"
                        [label]="'협력업체'"
                        [value]="this.paramModel.partnerNm"
                        (mousedown)="searchpartner($event)"
                    >
                    </ExtTextfield>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'팀'"
                        [store]="comboStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv3Event($event)"
                    >
                    </ExtCombobox>
                    <!--
                    <ExtTextfield
                    [placeholder]="'코너검색...'"
                    [label]="'코너'"
                    [value]="this.paramModel.conerNm"
                    (mousedown)="searchconer($event)"
                    >
                    </ExtTextfield>
                    -->
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                <ExtCombobox
                    [label]="'세분류'"
                    [store]="comboStoreLv4"
                    [placeholder]="'선택하세요'"
                    [valueField]="'storeLvCd'"
                    [displayField]="'storeLvNm'"
                    [queryMode]="'local'"
                    [clearable]="true"
                    [editable]="false"
                    (change)="comboStoreLv4Event($event)"
                >
                </ExtCombobox>  
                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
            
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [rowNumbers]="{
                        width: '60px'
                    }"
                    [plugins]="{ gridfilters: true }"
                    [scrollable]="true"
                    [store]="gridStore"
                    (select)="onSelectGrid($event)"
                >
                    <!--필터 : filter="string"-->
                    <!-- number("0,000") 천단위 콤마 -->
                    <ExtGridcolumn 
                        text="조직코드"
                        dataIndex="orgCode"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="부서"
                        dataIndex="buNm"
                        width='150px'
                        hidden='true'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="팀"
                        dataIndex="timNm"
                        width='150px'
                        hidden='true'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="세분류"
                        dataIndex="pcNm"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="클래스번호"
                        filter="string"
                        dataIndex="cls"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="클래스명"
                        filter="string"
                        dataIndex="clsNm"
                        width='200px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="업체번호"
                        filter="string"
                        dataIndex="partner"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="업체명"
                        filter="string"
                        dataIndex="partnerNm"
                        width='200px'
                    >
                    </ExtGridcolumn>
                   
                    <ExtGridcolumn 
                        text="마진율"
                        dataIndex="fee"
                        formatter='number("0,000%")'
                        [align]="'right'"
                        width='100px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                    text="부여일"
                    dataIndex="giveDt"
                    width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                    text="폐기일"
                    dataIndex="duseDt"
                    width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                    text="상태"
                    dataIndex="status"
                    width='100px'
                    >
                    </ExtGridcolumn>
                    
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>

    </ExtPanel>
<!-- 협력업체 조회 -->      
<app-searchCcpy 
    [isDialogShowing]="this.isDialogShowing"
    [searchCcpyParamModel]="this.searchCcpyParamModel"  
    (sendObject)="partnerSelected($event)"
    (closeCcpy)="closeCcpy($event)"	
>
</app-searchCcpy>

<!-- 다이얼로그html -->
<ExtDialog
[displayed]="isDialogShowing1"
[maskTapHandler]="onCancel1"
[maxWidth]="2000"
[defaultFocus]="'#ok'"
(onHide)="onHide1()"
> 
<ExtTabpanel
[flex]="1"
[shadow]="true"
[defaults]="{ cls: 'card', layout: 'center' }"
[height]="'770px'" 
[width]= "'850px'"
>
    <ExtPanel title="클래스정보" 
        [layout]="{ type: 'vbox', align: 'strech' }">
        <ExtPanel  
        [layout]="'fit'" 
        [height]="'500px'" 
        docked="top"
        [resizable]="{edges: 'south', dynamic: true}"
     
        >
            <ExtContainer
                [flex]="1"   
            >
                <ExtFormpanel
                    [layout]="{
                        type: 'box',
                        vertical: false
                    }"
                >

                <ExtFieldset
                [flex]="1"
                [defaults]="{ labelAlign: 'placeholder' }"
                >   
                    
                    <ExtTextfield
                        [label]="'코너'"
                        [readOnly]="true"
                        [value]="detailClsModel.coner"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'코너명'"
                        [readOnly]="true"
                        [value]="detailClsModel.conerNm"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'거래선번호'"
                        [readOnly]="true"
                        [value]="detailClsModel.trade"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'사업자번호'"
                        [readOnly]="true"
                        [value]="detailClsModel.busiNum"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'사업자명'"
                        [readOnly]="true"
                        [value]="detailClsModel.busiNm"
                    ></ExtTextfield>
                    
                </ExtFieldset>
                <ExtComponent [width]="10"></ExtComponent>
                <ExtFieldset
                [flex]="1"
                [defaults]="{ labelAlign: 'placeholder' }"
                
                >   
                    <ExtTextfield
                    [label]="'특정코드'"
                    [readOnly]="true"
                    [value]="detailClsModel.code"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'재고로스율'"
                        [readOnly]="true"
                        [value]="detailClsModel.lossRate"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'마진율'"
                        [readOnly]="true"
                        [value]="detailClsModel.marginRate"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'행사구분'"
                        [readOnly]="true"
                        [value]="detailClsModel.eventDiv"
                    ></ExtTextfield>
                    <ExtTextfield
                    [label]="'태그구분'"
                    [readOnly]="true"
                    [value]="detailClsModel.tagDiv"
                    ></ExtTextfield>   
                    </ExtFieldset>
            <ExtComponent [width]="10"></ExtComponent>
                <ExtFieldset
                [flex]="1"
                [defaults]="{ labelAlign: 'placeholder' }"
                
            >   
                    <ExtTextfield
                    [label]="'등록일'"
                    [readOnly]="true"
                    [value]="detailClsModel.regiDt"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'변경일'"
                        [readOnly]="true"
                        [value]="detailClsModel.changeDt"
                    ></ExtTextfield>
                    <ExtTextfield
                    [label]="'중지일'"
                    [readOnly]="true"
                    [value]="detailClsModel.stopDt"
                    ></ExtTextfield>
                    <ExtTextfield
                        [label]="'삭제일'"
                        [readOnly]="true"
                        [value]="detailClsModel.delDt"
                    ></ExtTextfield>
                    
                </ExtFieldset>
                </ExtFormpanel>
            </ExtContainer>
        </ExtPanel>
        <ExtPanel  
        [layout]="'fit'"
        [flex]="1"
        [height]="'100px'" 
        
        >
        <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    [infinite]="true"   
                    [scrollable]="true"
                    [store]="clsMarginStore"       
                    [markDirty]="true"   
                    height="200px"                       
                >   
                    <ExtGridcolumn 
                        text=""
                        dataIndex="partner"
                        summary=''
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="마진율변경일"    
                        dataIndex="marginChangeDt"
                        width="150px"
  
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="전마진"
                        [align]="'right'"
                        dataIndex="beforeMargin"
                        formatter = 'number("0,000%")'
  
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="후마진"
                        [align]="'right'"
                        dataIndex="afterMagin"
                        formatter = 'number("0,000")'
  
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="종료일"
                        [align]="'right'"
                        dataIndex="endDt"
                    >   
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="행사코드"
                        [align]="'right'"
                        dataIndex="eventCode"
                    >
                    </ExtGridcolumn>
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>
    </ExtPanel>
    
    <ExtPanel [flex]="1" title="협력업체" [layout]="'center'">
        <ExtContainer
            [flex]="1"
            [html]="
                
            "
        >
        <ExtFormpanel
        [layout]="{
            type: 'box',
            vertical: false
        }"
        >

            <ExtFieldset
            [flex]="1"
            [width]="'350px'"
            [defaults]="{ labelAlign: 'placeholder' }"
            >   
                <ExtTextfield
                [label]="'사업자번호'"
                [readOnly]="true"
                [value]="detailClsModel.busiNum"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'상호'"
                    [readOnly]="true"
                    [value]="detailClsModel.busiNm"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'대표자명'"
                    [readOnly]="true"
                    [value]="detailClsModel.owner"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'주민등록번호'"
                    [readOnly]="true"
                    [value]="detailClsModel.jumin"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'우편번호'"
                    [readOnly]="true"
                    [value]="detailClsModel.address"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'주소'"
                    [readOnly]="true"
                    [value]="detailClsModel.addressNm"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'전화번호'"
                    [readOnly]="true"
                    [value]="detailClsModel.tel"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'FAX'"
                    [readOnly]="true"
                    [value]="detailClsModel.fax"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'업태'"
                    [readOnly]="true"
                    [value]="detailClsModel.service"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'업종'"
                    [readOnly]="true"
                    [value]="detailClsModel.serviceSect"
                ></ExtTextfield>
                
            </ExtFieldset>
            <ExtComponent [width]="10"></ExtComponent>
            
            <ExtFieldset
            [flex]="1"
            [width]="'200px'"
            [defaults]="{ labelAlign: 'placeholder' }"
            >   
                <ExtTextfield
                    [label]="'은행코드'"
                    [readOnly]="true"
                    [value]="detailClsModel.bankCode"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'계좌번호'"
                    [readOnly]="true"
                    [value]="detailClsModel.bankNum"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'예금주 명'"
                    [readOnly]="true"
                    [value]="detailClsModel.bankNm"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'예금종류'"
                    [readOnly]="true"
                    [value]="detailClsModel.bankDiv"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'전도금거래선'"
                    [readOnly]="true"
                    [value]="detailClsModel.imprest"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'지불방법'"
                    [readOnly]="true"
                    [value]="detailClsModel.payment"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'지불산정코드'"
                    [readOnly]="true"
                    [value]="detailClsModel.paymentCode"
                ></ExtTextfield>
                <ExtTextfield
                    [label]="'지불연착코드'"
                    [readOnly]="true"
                    [value]="detailClsModel.paymentLateCode"
                ></ExtTextfield>
                
            
                </ExtFieldset>

            <ExtComponent [width]="10"></ExtComponent>
            <ExtFieldset
            [flex]="1"
            [width]="'135px'"
            [defaults]="{ labelAlign: 'placeholder' }"
            
            >   
               
            <ExtTextfield
                [label]="'어음일자'"
                [readOnly]="true"
                [value]="detailClsModel.billDt"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'지급조건'"
                [readOnly]="true"
                [value]="detailClsModel.paymentCondition"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'계산서구분'"
                [readOnly]="true"
                [value]="detailClsModel.calcdiv"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'끝전처리'"
                [readOnly]="true"
                [value]="detailClsModel.endCode"
            ></ExtTextfield>                
            </ExtFieldset>

            <ExtComponent [width]="10"></ExtComponent>
            <ExtFieldset
            [flex]="1"
            [width]="'135px'"
            [defaults]="{ labelAlign: 'placeholder' }"
            >   
            <ExtTextfield
                [label]="'창사기념일'"
                [readOnly]="true"
                [value]="detailClsModel.openDt"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'지역구분'"
                [readOnly]="true"
                [value]="detailClsModel.areaDiv"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'관리부서'"
                [readOnly]="true"
                [value]="detailClsModel.manageBu"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'거래중지'"
                [readOnly]="true"
                [value]="detailClsModel.tradeStop"
            ></ExtTextfield>
            <ExtTextfield
                [label]="'삭제일자'"
                [readOnly]="true"
                [value]="detailClsModel.ParterdelDt"
            ></ExtTextfield>     
                
            </ExtFieldset>
        </ExtFormpanel>      
    </ExtContainer>
            </ExtPanel>
        </ExtTabpanel>



      <ExtPanel  
      [layout]="'fit'" 
      [height]="'50px'" 
      docked="bottom"
      [resizable]="{edges: 'south', dynamic: true}"
      [maxHeight]="'100px'"
      [minHeight]="'50px'"
      >
          <ExtButton [align]="'right'" text="닫기" (tap)="onCancel1()"></ExtButton>
      </ExtPanel>

  </ExtDialog>
</ExtContainer>


