<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->
<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            (tap)="onTitleTap($event)"
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'">
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <!-- <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-pdf"
            (tap)="onTapPdfQuery($event)"
            tooltip="Report DownLoad"
        ></ExtButton> -->
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        (ready)="onReadysearchfrDay($event)"
                        [value]="frDate"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="조회일"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <ExtCombobox
                    [width]="200"
                    [label]="'대표'"
                    [store]="comboOnStoreNm"
                    [placeholder]="' '"
                    [valueField]="'serchName'"
                    [displayField]="'serchNameNm'"
                    [queryMode]="'local'"
                    [labelAlign]="'placeholder'"
                    [clearable]="true"
                    (change)="onChangeComboBoxNm($event)"
                    >
                    </ExtCombobox>
                    

                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [value]="'01'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                    <ExtCombobox
                    [width]="200"
                    [label]="'상호'"
                    [store]="comboOnStore"
                    [placeholder]="' '"
                    [valueField]="'onlineChk'"
                    [displayField]="'onlineChkNm'"
                    [queryMode]="'local'"
                    [labelAlign]="'placeholder'"
                    [clearable]="true"
                    (change)="onChangeComboBox($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <!-- <ExtCombobox
                        [label]="'부'"
                        [store]="comboStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        (change)="comboStoreLv2Event($event)"
                    >
                    </ExtCombobox> -->
                    <ExtContainerfield
                    [height]="31"
                    >
                    </ExtContainerfield>
                    <ExtCombobox
                    [width]="200"
                    [label]="'사업자등록번호'"
                    [store]="comboOnStoreCpNo"
                    [placeholder]="' '"
                    [valueField]="'corpNo'"
                    [displayField]="'corpNoNm'"
                    [queryMode]="'local'"
                    [labelAlign]="'placeholder'"
                    [clearable]="true"
                    (change)="onChangeComboBoxCpNo($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <!-- <ExtCombobox
                        [label]="'팀'"
                        [store]="comboStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        (change)="comboStoreLv3Event($event)"
                    >
                    </ExtCombobox> -->
                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [scrollable]="true"
                    [store]="gridStore"
                    [plugins]="{
                        summaryrow: true
                        ,gridfilters: true 
                    }"
                    [groupFooter]="{
                        xtype: 'gridsummaryrow'
                    }"
                    (select)="onSelectGrid($event)"
                >
                <ExtGridcolumn 
                    text="점"
                    width="5%"
                    [align]="'center'"
                    dataIndex="jum"
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    text="대표자"
                    width="15%"
                    [align]="'center'"
                    dataIndex="repName"
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    text="상호명"
                    width="25%"
                    [align]="'center'"
                    dataIndex="tradeName"
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    text="사업자번호"
                    width="15%"
                    [align]="'center'"
                    dataIndex="corpRegNum"
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    text="주민등록번호(법인번호)"
                    width="15%"
                    [align]="'center'"
                    dataIndex="jumin"
                >
                </ExtGridcolumn>
                <!-- <ExtColumn 
                        text="기준년" 
                        [columns]="thisYyCol"
                        width="40%"
                    >
                    </ExtColumn>
                    <ExtColumn 
                        text="비교년" 
                        [columns]="yesterYyCol"
                        width="40%"
                    >
                    </ExtColumn> -->
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>