<!-- <div [class]="data.style" role="alert">
    <div class="row">
        <div class="col-6">
            <h5 class="float-left" *ngIf="data.title === 'none' else title">
                <i class="fa fa-spinner fa-spin"></i>Loding...
            </h5>
            <ng-template #title>
                <h5 class="float-left">
                    {{data.title}}
                </h5>
            </ng-template>
            <h6 class="float-left" *ngIf="data.title !== 'none'">
                {{data.dayInfo}}
            </h6>
        </div>
        
        <div class="col-6" style="width:40%" *ngIf="data.isChart else price">
            <canvas id={{data.canvasId}}></canvas>
        </div>
        <ng-template #price>
            <div class="col-6" style="margin-top: 15px;">
                <h6 class="float-right">
                    {{data.value}}
                </h6>
            </div>
            <br><br><br><br>
        </ng-template>
    </div>
    <div class="row">
    </div>
    <hr/>
    <div class="row" >
        <div class="col-12">
            기타정보
        </div>
        <button (click)="emitTest()">click</button>
    </div>
</div>  -->
<div class="row">
    <div class="col-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>


