<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)">
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
       
    </ExtTitlebar>

    <!-- contnent-->
    <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'250px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'350px'"
            [minHeight]="'250px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [title]="'1.기간 from~to, 매출점'"
                    [flex]="1"
                >
                    <ExtDatefield
                        (ready)="onReadysearchFromDay($event)"
                        [value]="startDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d(D)'"
                        [floatedPicker]="{
                            captionFormat: 'Y-m-d'
                        }"
                        label="매출일(시작)"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <ExtDatefield
                        (ready)="onReadysearchToDay($event)"
                        [value]="endDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d(D)'"
                        [floatedPicker]="{
                            captionFormat: 'Y-m-d'
                        }"
                        label="매출일(종료)"
                        [editable]="false"
                        (change)="onChangeEndDt($event)"
                    >
                    </ExtDatefield>
                    <ExtCombobox                        
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [value]="storeCd"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                    <ExtTextfield
                        label = ""
                        value = "※매출기간, 매출점 - 필수선택"
                        [textAlign]="'left'"
                        disabled="true"
                    >
                    </ExtTextfield>
                    
                </ExtFieldset>
                

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [title]="'2. 조직'"
                    [flex]="1"
                >
                    
                    <ExtCombobox
                        [label]="'부'"
                        [store]="comboStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv2Event($event)"
                    >
                    </ExtCombobox> 
                    <ExtCombobox
                        [label]="'팀'"
                        [store]="comboStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv3Event($event)"
                    >
                    </ExtCombobox>  
                    <ExtCombobox
                        [label]="'세분류'"
                        [store]="comboStoreLv4"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv4Event($event)"
                    >
                    </ExtCombobox> 
                    <ExtCombobox
                        [label]="'코    너'"
                        [store]="comboStoreLv5"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv5Event($event)"
                    >
                    </ExtCombobox>  
                    <ExtCombobox
                        [label]="'클래스key'"
                        [store]="comboStoreLv6"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv6Event($event)"
                    >
                    </ExtCombobox> 
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [title]="'3. 협력업체'"
                    [flex]="1"
                >
                    <ExtTextfield
                        [placeholder]="'협력업체검색...'"
                        [label]="'협력업체'"
                        [inputMask]="'999999'"
                        [value]="this.paramModel.partner" 
                        [tooltip]="this.paramModel.partnerNm"
                        (mousedown)="searchPartner($event)"
                    >
                    </ExtTextfield>
                    <ExtTextfield
                        label = ""
                        value = "※조직, 협력업체, 품목코드는 세부조회시"
                        [textAlign]="'left'"
                        disabled="true"
                    >
                    </ExtTextfield>
                    <ExtTextfield
                        label = ""
                        value = "선택적으로 입력하십시요."
                        [textAlign]="'right'"
                        disabled="true"
                    >
                    </ExtTextfield>

                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [title]="'4. 품목코드'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'대분류'"
                        [store]="comboItemStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'lcatCd'"
                        [displayField]="'lcatName'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLCatEvent($event)"
                    >
                    </ExtCombobox>  
                    <ExtCombobox
                        [label]="'중분류'"
                        [store]="comboItemStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'mcatCd'"
                        [displayField]="'mcatName'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreMCatEvent($event)"
                    >
                    </ExtCombobox>  
                    <ExtCombobox
                        [label]="'소분류'"
                        [store]="comboItemStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'scatCd'"
                        [displayField]="'scatName'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreSCatEvent($event)"
                    >
                    </ExtCombobox>     
                    <ExtTextfield
                        label = ""
                        value = "[ 단위: 원 ]"
                        [textAlign]="'right'"
                        disabled="true"
                    >
                    </ExtTextfield>

                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>


        <!-- main center area -->
        <ExtPanel  
            [layout]="'fit'"
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [scrollable]="true"
                    [store]="gridStore"
                    [plugins]="{ gridfilters: true }" 
                >
                    <ExtGridcolumn 
                        text="조직"
                        [align]="'left'"
                        dataIndex="org"
                        width="100"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="부명"
                        [align]="'left'"
                        dataIndex="buName"
                        width="120"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="단품번호"
                        [align]="'left'"
                        dataIndex="singleItemCd"
                        width="120"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="단품명"
                        [align]="'left'"
                        dataIndex="singleItemName"
                        width="150"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="수   량"
                        [align]="'right'"
                        dataIndex="cnt"
                        width="70"
                        [renderer]="this.renderSignNormal"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="단위"
                        [align]="'left'"
                        dataIndex="unit"
                        width="60"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="순매출액"
                        [align]="'right'"
                        dataIndex="netAmount"
                        width="100"
                        [renderer]="this.renderSignNormal"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="할인액"
                        [align]="'right'"
                        dataIndex="saleAmount"
                        width="80"
                        [renderer]="this.renderSignNormal"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="총매출액"
                        [align]="'right'"
                        dataIndex="totalAmount"
                        width="100"
                        [renderer]="this.renderSignNormal"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="품목"
                        [align]="'left'"
                        dataIndex="itemCd"
                        width="80"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="품목명"
                        [align]="'left'"
                        dataIndex="itemName"
                        width="120"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="협력업체번호"
                        [align]="'left'"
                        dataIndex="partnerCd"
                        width="80"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="협력업체명"
                        [align]="'left'"
                        dataIndex="partnerName"
                        width="200"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="클래스번호"
                        [align]="'left'"
                        dataIndex="classCd"
                        width="80"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="클래스명"
                        [align]="'left'"
                        dataIndex="className"
                        width="150"
                    >
                    </ExtGridcolumn>
                                           
                </ExtGrid>
            </ExtContainer>           
        </ExtPanel>
    </ExtPanel>
    <!-- 협력업체 조회 -->      
    <app-searchCcpy 
        [isDialogShowing]="this.isDialogShowing"
        [searchCcpyParamModel]="this.searchCcpyParamModel"  
        (sendObject)="partnerSelected($event)"
        (closeCcpy)="closeCcpy($event)"	
    >
    </app-searchCcpy>
    
</ExtContainer>