<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)"
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-save"
            margin= "0 0 0 5"
            (tap)="onTapSave($event)"
            text="저장" 
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-trash-alt"
            margin= "0 0 0 5"
            (tap)="onTapDelete($event)"
            text="삭제" 
        >
        </ExtButton>
    
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        [value]="startDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="시작일"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <!-- <ExtDatefield
                        [value]="endDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="종료일"
                        [editable]="false"
                        (change)="onChangeEndDt($event)"
                    >
                    </ExtDatefield> -->
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [value]="jumComboVal"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                   
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                  
                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
        >
        <ExtPanel  
        [layout]="'fit'" 
        
        [resizable]="{edges: 'south', dynamic: false}"
        [maxHeight]="'95%'"
        [minHeight]="'25px'"
    >

          
            <ExtFieldset
                [layout]="'form'"
                [flex]="1"
            >
                
            <ExtCombobox
                (ready)="onReadyDay($event)"
                [label]="'요일'"
                [store]="dayStore"
                [placeholder]="'선택하세요'"
                [valueField]="'dayCd'"
                [displayField]="'dayNm'"
                [value]="dayValue"
                [queryMode]="'local'"
                [clearable]="true"
                (change)="dayStoreEvent($event)"
            >
            </ExtCombobox>

            <ExtCombobox
                [label]="'영업유무'"
                [store]="workYNStore"
                [placeholder]="'선택하세요'"
                [valueField]="'workYNCd'"
                [displayField]="'workYNNm'"
                [queryMode]="'local'"
                [value]="workYNValue"
                [clearable]="true"
                (change)="workYNStoreEvent($event)"
            >
            </ExtCombobox>
            <ExtCombobox
                [label]="'영업형태'"
                [store]="workFormStore"
                [placeholder]="'선택하세요'"
                [valueField]="'workFormCd'"
                [displayField]="'workFormNm'"
                [queryMode]="'local'"
                [value]="workFormValue"
                [clearable]="true"
                (change)="workFormStoreEvent($event)"
            >
            </ExtCombobox>
            <ExtNumberfield
                [decimals]="2"
                [label]="'기온'"
                [placeholder]="'℃'"
                [maxLength]='2'
                [width]="150"
                [value]="TemperatureValue"
                (change)="TemperatureEvent($event)"
            ></ExtNumberfield>
            <ExtCombobox
                [label]="'날씨'"
                [store]="weatherStore"
                [placeholder]="'선택하세요'"
                [valueField]="'weatherCd'"
                [displayField]="'weatherNm'"
                [queryMode]="'local'"
                [clearable]="true"
                [value]="weatherValue"
                (change)="weatherStoreEvent($event)"
            >
            </ExtCombobox>
            <!-- <ExtDatefield
                [value]="CompareDt"
                destroyPickerOnHide="true"
                [dateFormat]="'Y/m/d'"
                label="대비일수"
                [editable]="false"
                (change)="onChangeCompareDt($event)"
            >
            </ExtDatefield> -->
            <ExtNumberfield
                [decimals]="2"
                [label]="'대비일수'"
                [maxLength]='8'
                [width]="150"
                [value]="CompareDt"
                (change)="onChangeCompareDt($event)"
            ></ExtNumberfield>
            <ExtNumberfield
                [decimals]="2"
                [label]="'주차 대수'"
                [placeholder]="'대'"
                [maxLength]='5'
                [width]="150"
                [value]="carCntValue"
                (change)="carCntEvent($event)"
            ></ExtNumberfield>
            <ExtNumberfield
                [decimals]="2"
                [label]="'입점 객수'"
                [placeholder]="'명'"
                [maxLength]='7'
                [width]="150"
                [value]="customerCntValue"
                (change)="customerCntEvent($event)"
            ></ExtNumberfield>
            
            
            
        </ExtFieldset>
        <!--2번째열 str-->
        <ExtFieldset
        [layout]="'form'"
        [flex]="1"
        
        >
        

        </ExtFieldset> 
        <!--2번째열 end-->
        <!--3번째열 str-->

        <ExtFieldset
        [layout]="'form'"
        [flex]="1"
        >
        

        </ExtFieldset>  
        <ExtFieldset
        [layout]="'form'"
        [flex]="1"
        >
        

        </ExtFieldset>  
        <!--3번째열 end-->
        <!--4번째열 str-->

        <!-- <ExtFieldset
        [layout]="'form'"
        [flex]="1"
        >
        

        </ExtFieldset>   -->
        <!--4번째열 end-->

        
    </ExtPanel>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>