<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)"
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-pdf"
            (tap)="onTapReport($event)"
            tooltip="Report DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        (ready)="onReadystartDt($event)"
                        [value]="startDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="조회일"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <ExtCombobox
                        [label]="'세분류'"
                        [store]="comboStoreLv4"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv4Event($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [value]="jumComboVal"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                    <ExtCombobox
                        [label]="'코너'"
                        [store]="comboConer"
                        [placeholder]="'선택하세요'"
                        [valueField]="'coner'"
                        [displayField]="'conerNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboConerEvent($event)"
                        >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'부'"
                        [store]="comboStoreLv2"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv2Event($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                        [label]="'팀'"
                        [store]="comboStoreLv3"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        [editable]="false"
                        (change)="comboStoreLv3Event($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [rowNumbers]="{
                        width: '60px'
                    }"
                    [scrollable]="true"
                    [plugins]="{ gridfilters: true }"
              
                    [store]="gridStore"
                    (select)="onSelectGrid($event)"
                >
                    <!-- number("0,000") 천단위 콤마 -->
                    <ExtGridcolumn 
                        text="코너명"
                        dataIndex="conerNm"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="포스번호"
                        dataIndex="regi"
                        width='100px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="영수증번호"
                        dataIndex="receipt"
                        width='100px'
                        >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="순매출"
                        formatter='number("0,000")'
                        [align]="'right'"
                        dataIndex="netSale"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="할인액"
                        formatter='number("0,000")'
                        [align]="'right'"
                        dataIndex="dsnt"
                        width='150px'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="카드번호"
                        dataIndex="cardNo"
                        width='150px'
                        >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="카드사명"
                        dataIndex="cardNm"
                        width='150px'
                        >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="포인트카드번호"
                        dataIndex="pointNum"
                        width='150px'
                        >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="할인율"
                        dataIndex="dsntRate"
                        formatter='number("0,000%")'
                        [align]="'right'"
                        width='100px'
                        >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="할인구분"
                        dataIndex="dsntDiv"
                        width='200px'
                    >
                    </ExtGridcolumn>
                    
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>