<div class="container">
    <!-- <canvas id="lineChart" style="height:30vh; width:100%"></canvas> -->
    <canvas id="lineChart" [ngStyle]="{'height':lineModel.vh}" style="width:100%"></canvas>
</div>
<div class="container">
    <button type="button" class="btn btn-outline-primary btn-sm float-right" [disabled]="isDisabled" (click)="changeLine()" style="margin-left: 3px;">
        <i class="fas fa-chart-area"></i>
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm float-right" (click)="chartCh()" style="margin-left: 3px;">
        <i [class]="chartIcon"></i>
    </button>
    <div class="btn-group dropup float-right" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary btn-sm  dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-tag"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" (click)="yLableChange(1000)">천 
                <ng-container *ngIf="yAxes === 1000">
                    <i style="color: green; ;" class="fa fa-check"></i>
                </ng-container>
            </a>
            <a class="dropdown-item" (click)="yLableChange(1)">원 
                <ng-container *ngIf="yAxes === 1">
                    <i style="color: green; ;" class="fa fa-check"></i>
                </ng-container>
            </a>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="card border-success mb-3" >
        <div class="card-header">Header</div>
        <div class="card-body text-success">
            <canvas id="lineChart" style="height: 350px;"></canvas>
        </div>
    </div>
</div> -->