<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            (tap)="onTitleTap($event)"
            [ui]="'alt round'">
    
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
    </ExtTitlebar>

    <!-- contnent-->
    <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        (ready)="onReadystartDt($event)"
                        [value]="startDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="시작일"
                        [editable]="false"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <ExtDatefield
                        (ready)="onReadyendDt($event)"
                        [value]="endDt"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d'"
                        label="종료일"
                        [editable]="false"
                        (change)="onChangeEndDt($event)"
                    >
                    </ExtDatefield>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                    [label]="'점'"
                    [store]="comboStoreLv1"
                    [value]="'01'"
                    [placeholder]="'선택하세요'"
                    [valueField]="'storeLvCd'"
                    [displayField]="'storeLvNm'"
                    [queryMode]="'local'"
                    [clearable]="true"
                    [editable]="false"
                    (change)="comboStoreLv1Event($event)"
                >
                </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox
                    [label]="'부'"
                    [store]="comboStoreLv2"
                    [placeholder]="'선택하세요'"
                    [valueField]="'storeLvCd'"
                    [displayField]="'storeLvNm'"
                    [queryMode]="'local'"
                    [clearable]="true"
                    [editable]="false"
                    (change)="comboStoreLv2Event($event)"
                >
                </ExtCombobox>
                   
                   
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtTextfield
                    height ="100px"
                    label = ""
                    value = "[ 단위: 천원,  % ]"
                    [textAlign]="'right'"
                    disabled="true"
                    >
                    </ExtTextfield>
                </ExtFieldset> 
            </ExtFormpanel>

        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'" 
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [rowNumbers]="{
                        width: '60px'
                    }"
                    [scrollable]="true"
                    [store]="gridStore"
                    [plugins]="{
                        summaryrow: true
                        ,gridfilters: true 
                    }"
                    [groupFooter]="{
                        xtype: 'gridsummaryrow'
                    }"
                    (select)="onSelectGrid($event)"
                >
                    <!-- number("0,000") 천단위 콤마 -->
                    <ExtGridcolumn 
                        text="부명"
                        filter="string"
                        dataIndex="pcNm"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        [align]="'right'"
                        width='160px'
                        text="계획매출"
                        [renderer]="this.renderSign"
                        dataIndex="try"
                        summary = 'sum'
                        summaryFormatter='number("0,000")'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        [align]="'right'"    
                        width='160px'
                        text="실적매출"
                        dataIndex="splan"
                        [renderer]="this.renderSign"
                        summary = 'sum'
                        summaryFormatter='number("0,000")'
                    >
                    </ExtGridcolumn>
                    <!-- <ExtGridcolumn 
                        [align]="'right'"
                        text="달성율"
                        [renderer]="this.renderSign"
                        dataIndex="achivmentrate"
                        summary = 'average'
                        summaryFormatter='number("000.00%")'
                    >
                    </ExtGridcolumn> -->
                     
                    <ExtGridcolumn 
                        [align]="'right'"
                        text="달성율"
                        formatter='number("000.00 %")'
                        dataIndex="achivmentrate"
                        [summaryRenderer] = "this.summarizeachivmentrate"
                        summaryFormatter='number("000.00%")'
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                    [align]="'right'"
                    width='160px'
                    text="전년실적"
                    [renderer]="this.renderSign"
                    dataIndex="lastyearSplan"
                    summary = 'sum'
                    summaryFormatter='number("0,000")'
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    [align]="'right'"
                    text="신장율"
                    formatter='number("000.00 %")'
                    dataIndex="incrsrate"
                    summary = 'average'
                    summaryFormatter='number("000.00%")'
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    [align]="'right'"
                    text="객수"
                    dataIndex="custmerCst"
                    [renderer]="this.renderSign"
                    summary = 'sum'
                    summaryFormatter='number("0,000")'
                >
                </ExtGridcolumn>
                <ExtGridcolumn 
                    [align]="'right'"
                    text="객단가"
                    [renderer]="this.renderSign"
                    dataIndex="custmerNum"
                    summary = 'sum'
                    summaryFormatter='number("0,000")'
                >
                </ExtGridcolumn> 
               
                </ExtGrid>
            </ExtContainer>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>