<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)"
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-save"
            margin= "0 0 0 5"
            (tap)="onTapSave($event)"
            text="저장" 
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-save"
            margin= "0 0 0 5"
            (tap)="onTapNew($event)"
            text="신규" 
        >
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-close"
            margin= "0 0 0 5"
            (tap)="onTapClear($event)"
            text="초기화" 
        >
        </ExtButton>
       
        <!-- <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-pdf"
            (tap)="onTapReport($event)"
            tooltip="Report DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton> -->
    </ExtTitlebar>

    <!-- contnent-->
        <ExtPanel  
        [shadow]="true" 
        [layout]="{ type: 'vbox', align: 'strech' }"
        [border]="true"
        [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: false}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <!--
                    <ExtCombobox
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [value]="'01'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        (change)="comboStoreLv1Event($event)"
                        >
                    </ExtCombobox>
                    -->
                    <ExtCombobox
                        [label]="'점코드'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [valueField]="'jum'"
                        [displayField]="'jumCom'"
                        [value]="'01'"
                        [queryMode]="'local'"
                        [clearable]="false"
                        [editable]="false"
                        (change)="comboStoreLv1Event($event)"
                        >
                    </ExtCombobox>
                    
                        </ExtFieldset>
                        <ExtFieldset
                        [layout]="'form'"
                        [flex]="1"
                        ></ExtFieldset>
                        <ExtFieldset
                        [layout]="'form'"
                        [flex]="1"
                        ></ExtFieldset>
                        <ExtFieldset
                        [layout]="'form'"
                        [flex]="1"
                        ></ExtFieldset>


            </ExtFormpanel>
            
        </ExtPanel>

        <!-- main area -->
        <ExtPanel  
            [layout]="'fit'"  
            [flex]="1"
        >
            <!-- main left -->
            <ExtPanel 
                [weight]="10"
                docked="left"
                [flex]="1"
                width="1"
                [maxWidth]="'1%'"
                [resizable]="{edges: 'east', dynamic: false}"
                [border]="true"
            >
            </ExtPanel>

             <!-- main center -->

            <!--
                <ExtPanel  
                    [layout]="'fit'" 
                    [height]="'60px'" 
                    docked="top"
                    [resizable]="{edges: 'south', dynamic: true}"
                    [maxHeight]="'300px'"
                    [minHeight]="'50px'"
                >
 
            </ExtPanel>  
             -->
            <ExtPanel  
                [layout]="'fit'" 
                
                [resizable]="{edges: 'south', dynamic: false}"
                [maxHeight]="'95%'"
                [minHeight]="'25px'"
            >

                  
                    <ExtFieldset
                        [layout]="'form'"
                        [flex]="1"
                    >
                        
                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'점　　　명'"
                    [value]="formModel.ms01JumNm"
                    (change)="onChangeJumNm($event)"
                    [required]="true"
                    [clearable]="false"
                    
                >
                </ExtTextfield>

                <ExtTextfield
                [placeholder]="''"
                [label]="'사업자번호'"
                [value]="formModel.ms01Sano"
                (change)="onChangeSano($event)"
                [inputMask]="'999 - 99 - 99999'"
                [autoHideInputMask] = "true"
                [required]="false"
                [clearable]="false"
                [maxLength]="10"
            >
            </ExtTextfield>

                <ExtTextfield
                    [placeholder]="''"
                    [label]="'대 표 자 명'"
                    [value]="formModel.ms01Dname"
                    (change)="onChangeDname($event)"
                    [required]="true"
                    [clearable]="false"
                    [maxLength]="4"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'법 인 번 호'"
                    [value]="formModel.ms01Juno1"
                    (change)="onChangeJuno1($event)"
                    [inputType]="'password'"
                    [required]="false"
                    [clearable]="false"
                    [maxLength]="13"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'우 편 번 호'"
                    [value]="formModel.ms01Post1"
                    (change)="onChangePost1($event)"
                    [inputMask]="'999 - 999'"
                    [autoHideInputMask] = "true"
                    [required]="false"
                    [clearable]="false"
                   
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'주　　　소'"
                    [value]="formModel.ms01Address"
                    (change)="onChangeAddress($event)"
                    [required]="true"
                    [clearable]="false"
                    [maxLength]="29"
                >
                </ExtTextfield>
 <!-- [inputMask]="'(000) 000 - 0000'" -->
                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'전 화 번 호'"
                    [value]="formModel.ms01Phone1"
                    (change)="onChangePhone1($event)"
                    [inputMask]="'(999) 999 - 9999'"
                    [autoHideInputMask] = "true"
                    [required]="false"
                    [clearable]="false"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'창　립　일'"
                    [value]="formModel.ms01Crdate"
                    (change)="onChangeCrdate($event)"
                    [required]="false"
                    [clearable]="false"
                    [maxLength]="8"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'결　산　월'"
                    [value]="formModel.ms01Camonth"
                    (change)="onChangeCamonth($event)"
                    [required]="false"
                    [clearable]="false"
                    [maxLength]="8"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'코드부여일'"
                    [value]="formModel.ms01Adddate"
                    (change)="onChangeAdddate($event)"
                    [required]="false"
                    [clearable]="false"
                    disabled="true"
                >
                </ExtTextfield>

                    <ExtTextfield
                    [placeholder]="''"
                    [label]="'코드수정일'"
                    [value]="formModel.ms01Uptdate"
                    (change)="onChangeUptdate($event)"
                    [required]="false"
                    [clearable]="false"
                    disabled="true"
                >
                </ExtTextfield>
                <ExtTextfield
                [placeholder]="''"
                [label]="'코드폐기일'"
                [value]="formModel.ms01Deldate"
                (change)="onChangeDeldate($event)"
                [required]="false"
                [clearable]="false"
                [maxLength]="8"
            >
            </ExtTextfield>

                
                </ExtFieldset>
                <!--2번째열 str-->
                <ExtFieldset
                [layout]="'form'"
                [flex]="1"
                
                >
                

                </ExtFieldset> 
                <!--2번째열 end-->
                <!--3번째열 str-->

                <ExtFieldset
                [layout]="'form'"
                [flex]="1"
                >
                

                </ExtFieldset>  
                <!--3번째열 end-->
                <!--4번째열 str-->

                <!-- <ExtFieldset
                [layout]="'form'"
                [flex]="1"
                >
                

                </ExtFieldset>   -->
                <!--4번째열 end-->
  
                
            </ExtPanel>
           
            </ExtPanel>
        </ExtPanel>

</ExtContainer>