<!--
생성자 	 : '' 	생성일 : '' 
수정자 	 : ''	수정일 : '' 
@수정내용   : '' 
-->

<ExtContainer padding="0" layout="fit" fitToParent="true">
    <!-- title-->
        <!-- title-->
    <ExtTitlebar
        [title]="route.text"
        docked="top"
        [platformConfig]="{ 
            phone   : { titleAlign: 'center' } 
        ,   desktop : { titleAlign: 'left' }
        }"
    >
        <ExtButton 
            [align]="'left'" 
            iconCls="x-fa fa-th-large"
            [ui]="'alt round'"
            (tap)="onTitleTap($event)">
        </ExtButton>
        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-search"
            (tap)="onTapQuery($event)"
            text="조회" 
        >
        </ExtButton>

        <ExtButton 
            [align]="'right'"
            [ui]="'alt round'"
            iconCls="x-fa fa-wrench"
            (tap)="onTapCornerClosed($event)"
            text="코너폐기" 
        >
        </ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-file-excel"
            (tap)="onTapExcel($event)"
            tooltip="Excel DownLoad"
        ></ExtButton>
        <ExtButton
            [align]="'right'"
            [ui]="'alt round'"
            [style]='{ "float": "right" }'
            iconCls="x-fa fa-question-circle"
            (tap)="onTapHelp($event)"
            tooltip="Help"
        ></ExtButton>
       
    </ExtTitlebar>

    <!-- contnent-->
    <ExtPanel  
    [shadow]="true" 
    [layout]="{ type: 'vbox', align: 'strech' }"
    [border]="true"
    [scrollable]="true"
    >
        <!--search area-->
        <!--한줄 50px 두줄 100px... (x2)-->
        <ExtPanel  
            [layout]="'fit'" 
            [height]="'100px'" 
            docked="top"
            [resizable]="{edges: 'south', dynamic: true}"
            [maxHeight]="'300px'"
            [minHeight]="'50px'"
        >
            <ExtFormpanel
                [layout]="{
                    type: 'box',
                    vertical: false
                }"
            >
                <!-- First line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtDatefield
                        (ready)="onReadysearchFromDay($event)"
                        [value]="startDt"
                        [editable]="false"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d(D)'"
                        [floatedPicker]="{
                            captionFormat: 'Y-m-d'
                        }"
                        label="매출일(시작)"
                        (change)="onChangeStartDt($event)"
                    >
                    </ExtDatefield>
                    <ExtDatefield
                        (ready)="onReadysearchToDay($event)"
                        [value]="endDt"
                        [editable]="false"
                        destroyPickerOnHide="true"
                        [dateFormat]="'Y/m/d(D)'"
                        [floatedPicker]="{
                            captionFormat: 'Y-m-d'
                        }"
                        label="매출일(종료)"
                        (change)="onChangeEndDt($event)"
                    >
                    </ExtDatefield>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Second line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                    <ExtCombobox                        
                        [label]="'점'"
                        [store]="comboStoreLv1"
                        [placeholder]="'선택하세요'"
                        [value]="storeCd"
                        [editable]="false"
                        [valueField]="'storeLvCd'"
                        [displayField]="'storeLvNm'"
                        [queryMode]="'local'"
                        [clearable]="true"
                        (change)="comboStoreLv1Event($event)"
                    >
                    </ExtCombobox>
                </ExtFieldset>

                <!-- 필드간 좌우 간격  -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Third line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                </ExtFieldset>

                <!-- 필드간 좌우 간격 -->
                <ExtComponent [width]="10"></ExtComponent>

                <!-- Fourth line -->
                <ExtFieldset
                    [layout]="'form'"
                    [flex]="1"
                >
                <ExtDatefield
                    (ready)="onReadyCornerClosedDay($event)"
                    [value]="cornerClosedDt"
                    [editable]="false"
                    destroyPickerOnHide="true"
                    [dateFormat]="'Y/m/d(D)'"
                    [floatedPicker]="{
                        captionFormat: 'Y-m-d'
                    }"
                    label="코너폐기일자"
                    (change)="onChangeCornerClosedDate($event)"
                >
                </ExtDatefield>
                    <ExtTextfield
                        label = ""
                        value = "기간 매출 無, 현재 재고 無인 코너 조회/폐기"
                        [textAlign]="'right'"
                        disabled="true"
                    >
                    </ExtTextfield>

                </ExtFieldset> 
            </ExtFormpanel>
            
        </ExtPanel>


        <!-- main center area -->
        <ExtPanel  
            [layout]="'fit'"
            [flex]="1"
        >
            <ExtContainer layout="fit" fitToParent="true">
                <ExtGrid
                    (ready)="onReadyGrid($event)"
                    [infinite]="true"
                    [scrollable]="true"
                    [store]="gridStore"   
                    [rowNumbers]="{
                        width: '60px'
                    }" 
                    [plugins]="{ gridfilters: true }"
                    [markDirty]="true"
                    [plugins]="{ rowedit: { autoConfirm: false } }"                               
                >
                    <ExtGridcolumn 
                        text="점"
                        [align]="'left'"
                        dataIndex="jumNo"
                        [hidden]="true"
                        width="100"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="부"
                        [align]="'left'"
                        dataIndex="buName"
                        width="150"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="팀"
                        [align]="'left'"
                        dataIndex="teamName"
                        width="150"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="세분류"
                        [align]="'left'"
                        dataIndex="pcName"
                        width="150"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="코너번호"
                        filter="string"
                        [align]="'left'"
                        dataIndex="cornerNo"
                        width="100"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="코너명"
                        filter="string"
                        [align]="'left'"
                        dataIndex="cornerName"
                        width="200"
                    >
                    </ExtGridcolumn>
                    <ExtGridcolumn 
                        text="등록일"
                        [align]="'center'"
                        dataIndex="regiDate"
                        width="100"
                    >
                    </ExtGridcolumn>
                    <ExtCheckcolumn 
                        text="코너 폐기"
                        [align]="'center'"
                        dataIndex="cornerClosed"
                        width="100"                        
                        [headerCheckbox]="true"  
                    >
                    </ExtCheckcolumn>                           
                                           
                </ExtGrid>

            </ExtContainer>
           
        </ExtPanel>

    </ExtPanel>
</ExtContainer>